body {
    background-color: lightblue;
}

#output {
    font-family: monospace;
    white-space: pre;
}

.start {
    background-color: white;
}

.end {
    background-color: white;
}

.current {
    background-color: crimson;
    color: white;
}